Count 2014 and 2015-2016 seperately, since for year 2015-2017 we have 'method' of each homicide incident, but we dont't have it in 2014's listing.   

Did not count 2017 for now, Excel weirdly change datetime format.

In [66]:
import pandas as pd
from dateutil import parser

In [194]:
'''
Read homicide listings for Buffalo City
'''
Buffalo_14 = pd.read_excel('/Volumes/TRANSCEND/Violence Tracker/Buffalo, NY/Buffalo_city_homicide_data_2014.xlsx')
Buffalo_15 = pd.read_excel('/Volumes/TRANSCEND/Violence Tracker/Buffalo, NY/Buffalo_city_homicide_data_2015.xlsx')
Buffalo_16 = pd.read_excel('/Volumes/TRANSCEND/Violence Tracker/Buffalo, NY/Buffalo_city_homicide_data_2016.xlsx')

In [177]:
Buffalo_14['Date'] = pd.to_datetime(Buffalo_14['Date'])

In [178]:
Buffalo_14.head()

,Name,Date,Location of Incident,Status
0,Yolanda Singletary,2014-01-01,Genesee St & Michigan Ave.,under investigation
1,Dustin Ortiz,2014-05-01,Newfield Street,under investigation
2,Damario McCain,2014-01-27,Reed Street,under investigation
3,Damone Wiggins,2014-02-21,East Delavan,under investigation
4,*Malik Evans,2014-02-22,Guilford Street,cleared

In [179]:
Buffalo_15.head()

,Name,Date,Location of Incident,Method,Status
0,Dekhym Reese,2015-01-19,Ontario Street,shot,under investigation
1,Shaquilla Coston,2015-01-02,Northumberland Ave.,strangulation,cleared
2,Lenora Tyes,2015-10-02,Dodge Street,blunt force trauma,cleared
3,Diane Demps,2015-05-03,Dodge Street,blunt force trauma,cleared
4,Kevin Green,2015-04-27,Dewey Avenue,shot,under investigation

In [180]:
Buffalo_16.head()

,Name,Date,Location of Incident,Method,Status
0,*Karon Slaughter,2016-10-01,TBA,shot,under investigation
1,Rose Lilien,2016-01-28,Cunard Road,stabbed,cleared
2,Elroy Damidaux,2016-01-29,Curry Walk,shot,cleared
3,Michelangelo Barbour,2016-02-14,Dutton Street,shot,under investigation
4,Harrison Davis,2016-02-20,Cambridge Avenue,shot,under investigation

In [181]:
#Buffalo_14.dtypes
Buffalo_14['Year'], Buffalo_14['Month'] = Buffalo_14['Date'].dt.year, Buffalo_14['Date'].dt.month

In [182]:
Buffalo_homi_count_14 = Buffalo_14.groupby(['Year','Month','Status']).size().reset_index(name='count')

In [183]:
Buffalo_homi_count_14.insert(0,'City','Buffalo')
Buffalo_homi_count_14.insert(1,'State','NY')
Buffalo_homi_count_14['UCR_Type'] = ''

In [184]:
Buffalo_homi_count_14

       City State  Year  Month               Status  count UCR_Type
0   Buffalo    NY  2014      1              cleared      1
1   Buffalo    NY  2014      1  under investigation      3
2   Buffalo    NY  2014      2              cleared      2
3   Buffalo    NY  2014      2  under investigation      3
4   Buffalo    NY  2014      3              cleared      2
5   Buffalo    NY  2014      3  under investigation      2
6   Buffalo    NY  2014      4              cleared      2
7   Buffalo    NY  2014      4  under investigation      2
8   Buffalo    NY  2014      5              cleared      2
9   Buffalo    NY  2014      5  under investigation      3
10  Buffalo    NY  2014      6              cleared      3
11  Buffalo    NY  2014      6  under investigation      4
12  Buffalo    NY  2014      7              cleared      2
13  Buffalo    NY  2014      7  under investigation      4
14  Buffalo    NY  2014      8              cleared      2
15  Buffalo    NY  2014      8  under investigation      2
16  Buffalo    NY  2014      9              cleared      2
17  Buffalo    NY  2014      9  under investigation      3
18  Buffalo    NY  2014     10              cleared      3
19  Buffalo    NY  2014     11              cleared      3
20  Buffalo    NY  2014     12              cleared      4
21  Buffalo    NY  2014     12  under investigation      8

In [185]:
Buffalo_homi_count_14.to_csv('Buffalo_city_homicide_count_2014.csv',index=False,encoding='utf-8')

In [195]:
def get_homi_count():
    frame = [Buffalo_15,Buffalo_16] 
    df = pd.concat(frame,ignore_index=True)
    df['Year'], df['Month'] = df['Date'].dt.year, df['Date'].dt.month 
    df_count = df.groupby(['Year','Month','Method']).size().reset_index(name='count')
    df_count.insert(0,'City','Buffalo')
    df_count.insert(1,'State','NY')
    df_count['UCR_Type'] = ''
    df_count = df_count.rename(columns = {'Method':'homicide_type'})
    
    return df_count

In [201]:
#Count for year 2015 and 2016
Buffalo_homi_count_15_16 = get_homi_count()

In [202]:
Buffalo_homi_count_15_16.to_csv('Buffalo_city_homicide_count_2015-2016.csv',index=False,encoding='utf-8')